#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #aedbff;
}

nav a {
  color: #000000;
  font-weight: 500;
}
nav a:hover {
  color: #3333ff;
}

#imagecontainer {
  background-image: url("./assets/images/petri.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

/* Image sits below the card: image lower z-index */
.center-overlap {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  max-width: 50%;
}

/* Card should sit above the image: negative margin lifts it up and higher z-index covers image */
.below-card {
  position: relative;
  z-index: 2;
  margin-top: -40px;
  padding-top: 40px;
}
